<div class="backimg">

<div class="container " style="margin-bottom:330px">

	<div class="row ">
		<div class="col-lg-4 " style="margin-top:150px;">
			<form action="/session/create" method="POST" class="form-signin">
				<h3 class="form-signin-heading">Voyez autrement vos voisins.</h3><br />

				<% if(flash && flash.err) { %>
				<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
				<% } %>



			<input type="text" class="form-control" placeholder="Email 	" name="email"><br />
			<input type="password" class="form-control" placeholder="Mot de passe" name="password"><br />
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Connectez vous"/><br />
			<input type="hidden" name="_csrf" value="<% _csrf %>">



			</form>
			</div>
	</div>

</div>
<br />
<br />
