<!DOCTYPE html>
<html>
  <head>
    <title>Hometrade</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>

    <div class="header">
        <div class="row">

          <% if (session.authenticated )  { %>
          <div class="col-lg-1 ">

                <a href="/session/destroy" > <button class="btn btn-sm btn-danger">Déconnexion</button></a>
          </div>
            <div class="col-lg-1 margco">
            <button class="btn btn-sm btn-default">   <a href="/user/show/<%= session.User.id %>"><%= session.User.name  %></a></button>
          </div>
                <div class="col-lg-1 margcoll" style="margin-right:60px" >
              <a href="/produit" >     <button class="btn btn-sm btn-default">Liste des produits</button></a>

          </div>
           <div class="col-lg-1 margcoll" >
        <a data-placement="bottom" data-toggle="popovers" data-container="body" data-placement="left" type="button" data-html="true" href="#" id="login">                <button class="btn btn-sm btn-default">Catégorie</button> </a>
                  <div id="popover-contents" class="hide">
                    <br /><b>
         <form class="form-inline" action="/produit/categorie">
                    <p> Liste des catégorie</p><br /> <br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="Electronique"></a><br /><br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="Electromenager"></a><br /><br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="meuble"></a><br /><br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="Literie"></a><br /><br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="Jardin"></a><br /><br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="telephonie"></a><br /><br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="Sports"></a><br /><br />
                        <input type="submit" class="btn btn-default " href=""  name="categorie" value="cuisine"></a><br /><br /><br />
          </form>
                        </b>
                    </div>

          </div>
          <div class="col-lg-1 margcol ">
                   <a href="/produit/new" >     <button class="btn btn-sm btn-default">Produits</button></a>
          </div>
                      <% } %>                

                    <% if (session.authenticated && session.User.admin )  { %>

            <div class="col-lg-1 margcoladmin">
                 <a href="/user" >  <button class="btn btn-sm btn-default">Administration</button></a>

          </div>
            <% } %>                

            <div class="col-lg-1" >
            <% if (!session.authenticated) { %>
           <a href="/session/new"  > <button class="btn btn-sm btn-danger">Connexion</button></a>
                     <%  } %>

          </div>
          <div class="col-lg-1 marg">
                        <% if (!session.authenticated) { %>

             <a href="/user/new"  >   <button class="btn btn-sm btn-default">Inscription</button></a>
                              <%  } %>

          </div>
          <div class="col-lg-2 "   >
   </div>

          <div class="col-lg-3 marg1">  
                <a  href="/"><img src="/images/logo.png" class="navlogo" /></a>
          </div>          


    </div>
  </div>
<br /><br /><br />
    <%- body %>


     
<div class="  footer">
  <div class="panel-body">
       Copyright 2015 - 2016 Ingesup - Tous droits réservés
  </div>




                <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
                

                <script>
                var image1 = '<img src="images/image.png"">';
                $('#popover1').popover({placement: 'bottom', title: '', content: image1, html: true});
                $('#popover2').popover('show');
                </script>

                <script>

                $("[data-toggle=popover]").popover({
                html: true, 
                content: function() {
                      return $('#popover-content').html();
                    }
            });
                </script>
                                 <script>
                $("[data-toggle=popovers]").popover({
                html: true, 
                content: function() {
                      return $('#popover-contents').html();
                    }
            });
                </script>
                                                 <script>
                $("[data-toggle=popoveri]").popover({
                html: true, 
                content: function() {
                      return $('#popover-contenti').html();
                    }
            });
                </script>
    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/customValidate.js"></script>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
