<div class="container">
	<h1> Profil </h1>
	<h1><%= user.name %> </h1>
	<h3><%= user.title %> </h3>
	<hr>
	<h3>Contact: <%- user.email %> </h3>

	<br />
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>