     <div class="container">
     <table>
     <tr>
     	<h1 class="titi"> Liste des produits : </h1><br /><br />
     </tr>
        <% produits.forEach(function(pro){ %>
            <li>
            <ol class="breadcrumb">
              <li><a href="#"><h3><%= pro.name %></h3></a></li>
            </ol>
                <div class="description"> 
                    <p><%= pro.description %></p>
                    <div class="alert alert-info" role="alert">
                           <p><b>Prix :</b> <%= pro.prix %></p>
                              <p><b>Utilisateurs :</b> <%= pro.user  %></p>
                          </div>
                </div>

             


            </li>
        <% }); %>

       </table>
      </div>