
<div class="containter">

  <%  if(flash && flash.err) {%>
  <ul class="alert alert-success">
  <% Object.keys(flash.err).forEach(function(error) { %>
  <li><%- JSON.stringify(flash.err[error]) %></li>
  <% }) %>
</ul>
<% } %>



<form  action="/produit/create" method="POST" class="form-horizontal">
    <div class="form-group">
    <label for="" class="col-lg-2 control-label">Nom</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="name" placeholder="Nom">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Adresse</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="adresse" placeholder="Adresse">
    </div>
  </div>
    <div class="form-group">

      <label for="" class="col-lg-2 control-label">Description</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="description" placeholder="Description">
    </div>
  </div>
    <div class="form-group">

      <label for="" class="col-lg-2 control-label">Prix</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="prix" placeholder="Prix">
    </div>
  </div>

   <div class="form-group">

      <label for="" class="col-lg-2 control-label">Pseudo </label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="user" value="<%= session.User.name %>">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Proposer un produit">
      <input type="hidden" name="_csrf" value="<% _csrf %>" />
    </div>
  </div>
</form>
 
</div>