<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hometrade</title>
    </head>

    <body>
<div>
	<p>Informations personnelles:</p>
<label>Nom</label><br/>
<label>Prénom</label><br/>
<label>Pseudo</label><br/>
<label>email</label><br/>

</div>
<div>
	<li>lo</li>
		<li>lo</li>
			<li>lo</li>
				<li>lo</li>
					<li>lo</li>
	</div>

	<div><img src="http://images.google.fr/imgres?imgurl=http%3A%2F%2Fpre10.deviantart.net%2F071c%2Fth%2Fpre%2Fi%2F2014%2F051%2F3%2Ff%2Flittle_spidey_pool_by_josh308-d77bzia.png&imgrefurl=http%3A%2F%2Fjosh308.deviantart.com%2Fart%2FLittle-Spidey-Pool-435579778&h=936&w=853&tbnid=Ek6gJfvdlD7ciM%3A&docid=pXIokFy3bKe88M&ei=hZriVoOhHMeqa8SYitgK&tbm=isch&iact=rc&uact=3&dur=372&page=1&start=0&ndsp=22&ved=0ahUKEwjD97uSs7jLAhVH1RoKHUSMAqsQrQMIPzAE"></img>
	</div>
    </body>
    </html>