body {
	width:%;
}

tr { 

height:100px;
background-color:#e6e6e6;
}

td {

	width:300px;
		padding:20px !important;

}
th {

	width:300px;
		padding:20px !important;

}
.header{

    position: fixed;
	width:100%;
	height:60px;
	padding:10px;
	background-color:#fff;
	margin-bottom:30px !important;
    z-index: 30;
}

.description {
    border-radius: 10px 10px 10px 10px;

    height : 270px;
    width:100%;
    background-color: #68899A;
    color:#fff;
    padding:20px;
    overflow:auto;
}
.footer { 
    position: relative;
	width:100%;
    background-color :#e6e6e6;
    height: 80px;
	bottom:0;
    margin-top: 80px !important;
    color :#000  ;
}

.navlogo {

	width :50%;
}

.marg {

	margin-left:-60px !important;

}

.margco {
	margin-left:-50px !important;


}

.margcol {
	margin-left:-60px !important;


}

.margcoladmin {
    margin-left:-70px !important;


}
.margcoll {
	margin-left:-80px !important;


}


.margcol2 {
	margin-left:-90px !important;


}

.marg1 {
	margin-top: -30px;
	margin-left:800px;
	margin-right:800px;

}


.set {

    margin-top: 50px;
    background-color: #;
    height :800px;
    width : 100%;
}

.back {

    margin :30px;
    padding:30px;
    height :300px;
    width :500px;
    background-color: #000;
    border-radius: 5px 10px 50px 5px;
    background-image:url(/images/shen4.jpg);
    border: 5px solid #D5D5D5;
    font-family: 'Titillium Web', sans-serif;
    font-size : 22px;
    color :#fff;
}
.title {
    margin-left:350px;
}
.bloc {

    border-radius: 10px 10px 10px 10px;
  background-color:rgba(25, 19, 19, 0.69);
  padding:20px;
  margin-top:100px;
  color:#fff;
    width:100%;
    height :600px;
}
.title2 {
    margin-left:200px;
    margin-top:60px;
    color:#fff;
}
.titrecat {

    border-radius: 10px 10px 10px 10px;
    margin-top :275px;
    background-color: #f04f00;
    padding-left:5px;
}
.titrecat2 {

    border-radius: 10px 10px 10px 5px;
    margin-top :275px;
    background-color: #f53e33;
    padding-left:5px;

}

.titrecat5 {

    border-radius: 10px 10px 10px 5px;
    margin-top :150px;
    width :65%;
    background-color: #860101;
    padding-left:5px;

}
.titrecat6 {

    border-radius: 10px 10px 10px 5px;
    margin-top :275px;
    width :65%;
    background-color: #000826;
    padding-left:5px;

}
.titrecat7 {

    border-radius: 10px 10px 10px 5px;
    margin-top :150px;
    width :30%;
    background-color: #037BCB;
    padding-left:5px;
    margin-left:5px;

}
.back2 {

    margin :30px;
    padding:30px;
    height :300px;
    width :500px;
    background-color: #000;
    border-radius: 5px 10px 50px 5px;
    background-image:url(/images/shen3.jpg);
    font-family: 'Titillium Web', sans-serif;
    font-size : 22px;
    color :#fff;
    border: 5px solid #D5D5D5;


}


.back3 {

    margin :30px;
    padding:30px;
    height :300px;
    width :1050px;
    background-color: #000;
    border-radius: 5px 10px 50px 5px;
    background-image:url(/images/shen2.jpg);
    border: 5px solid #D5D5D5;



}

.backs {

    margin :30px;
    padding:30px;
    height :300px;
    width :330px;
    background-color: #000;
    border-radius: 5px 10px 50px 5px;
    background-image:url(/images/lo.jpg);
    border: 5px solid #D5D5D5;
    font-family: 'Titillium Web', sans-serif;
    font-size : 22px;
    color :#fff;
}

.set2 {

    margin-top: 50px;
    background-color: #;
    height :800px;
    width : 100%;
}



.titrecat3 {

    color :#2D2D2D;
    font-size: 35px;
    padding-left : 140px;

}

.titrecat4 {

    color :#2D2D2D;
    font-size: 15px;
    padding-left : 140px;
    
}
.scroll {

    padding:;
    overflow :auto;
}

.backimg {

height:100%;
width:100%;
background-image:url(/images/wall.jpg) ;
z-index: 1;
color : #fff;
}

.backimg2 {
    
height:100%;
width:100%;
background-image:url(/images/wall2.jpg) ;
z-index: 1;
color : #fff;
}

.imgpro {

    margin-top:-20px;
    margin-right: -50px;
    width:250px;
    height:250px;
    margin-bottom: -100px;
    border-radius: 10px 10px 10px 10px;

}