 
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/ss2.jpg" style="margin-left:0px;height:px" alt="...">
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <img src="/images/ss2.jpg" style="margin-left:0px;" alt="...">
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <img src="/images/ss2.jpg" style="margin-left:0px;" alt="...">
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br />
    <div class="container">
                <div class="row">
                        <div class="col-lg-12 titrecat3">
                            Découvrez ce que vos voisins ont de meilleurs à offrir
                        </div>
                        <div class="col-lg-12 titrecat4">
                                 Annonces gratuites, annonces immobilier, voiture occasion, auto, moto, Electromenager,  emploi etc... prés de chez vous !                        </div>
                </div>
                    <div class="row">
                            <div class="col-lg-12 set">
                                <div class="row">  
                                    <div class="col-lg-3 back ">
                                           <div class="titrecat"><a href="/produit/new" style="color:#fff;">PROPOSEZ UN OBJET A VOTRE VOISIN </a></div>
                                    </div>
                                    <div class="col-lg-2 back2">                                       
                                           <div class="titrecat2"> UN CATALOGUE SANS PRECEDENT </div>

                                    </div>
                                     <div class="col-lg-3 back3 "> 
                                      <div class="row col-lg-6">
                                        <div class="user">
                                           <img src="/images/user.jpg" class="imgpro2"/>
                                           <b style="font-size:15px;color:#fff;margin-left:160px"><br /> Nom : Natasha </b><br /><b style="font-size:15px;color:#fff;margin-left:160px"> Prénom : Labelle <br /> </b>
                                           <button style=" margin-left:160px " class="btn btn-warning btn-xs"> Contacter </button>
                                        </div>
                                        <div class="user">
                                           <img src="/images/user7.jpg" class="imgpro2"/>
                                                 <b style="font-size:15px;color:#fff;margin-left:160px"><br /> Nom : Pamela </b><br /><b style="font-size:15px;color:#fff;margin-left:160px"> Prénom : Pasbelle <br /> </b>
                                             <button style="margin-left:160px" class="btn btn-warning btn-xs"> Contacter </button>
                                        </div>
                                      </div>
                                    <div class="row col-lg-6">
                                        <div class="user">
                                           <img src="/images/user3.jpg" class="imgpro2"/>
                                           <b style="font-size:15px;color:#fff;margin-left:160px"><br /> Nom : Jerome </b><br /><b style="font-size:15px;color:#fff;margin-left:160px"> Prénom : Pasbeau <br /> </b>
                                           <button style=" margin-left:160px " class="btn btn-warning btn-xs"> Contacter </button>
                                        </div>
                                        <div class="user">
                                           <img src="/images/user4.jpg" class="imgpro2"/>
                                                 <b style="font-size:15px;color:#fff;margin-left:160px"><br /> Nom : dada </b><br /><b style="font-size:15px;color:#fff;margin-left:160px"> Prénom : dindon  <br /> </b>
                                             <button style="margin-left:160px" class="btn btn-warning btn-xs"> Contacter </button>
                                        </div>
                                      </div>
                                     <h3 style="margin-left:550px;color:#FF7700"> Classement Meilleurs Utilisateurs </h3>
                                    </div>

                                </div>
                            </div>
                    </div>
            </div>   
<div class=" scroll" >
            <div class="container shen">
                <div class="row">
                        <div class="col-lg-12 titrecat3">
                           Louez et achetez des produits près de chez vous
                        </div>
                        <div class="col-lg-12 titrecat4">
                                 Annonces gratuites, annonces immobilier, voiture occasion, auto, moto, Electromenager,  emploi etc... prés de chez vous !                        </div>
                </div>
                    <div class="row">
                            <div class="col-lg-12 set2">
                                <div class="row">  
                                  
                                    <div class="col-lg-3 backs ">
                                           <img src="/images/shen3.jpg" class="imgpro"/>
                                    <div class="col-lg-12">
                                           <div class="col-lg-8 titrecat5"> Produit 1 </div>
                                           <div class="col-lg-8 titrecat7"> 80.00€</div>
                                    </div>
                                    </div>
                                   
                                                                       <div class="col-lg-3 backs ">
                                           <img src="/images/shen3.jpg" class="imgpro"/>
                                    <div class="col-lg-12">
                                           <div class="col-lg-8 titrecat5"> Produit 1 </div>
                                           <div class="col-lg-8 titrecat7"> 140.00€</div>
                                    </div>
                                    </div>

                                                                        <div class="col-lg-3 backs ">
                                           <img src="/images/shen3.jpg" class="imgpro"/>
                                    <div class="col-lg-12">
                                           <div class="col-lg-8 titrecat5"> Produit 1 </div>
                                           <div class="col-lg-8 titrecat7"> 30.00€</div>
                                    </div>
                                    </div>

                                                                        <div class="col-lg-3 backs ">
                                           <img src="/images/shen3.jpg" class="imgpro"/>
                                    <div class="col-lg-12">
                                           <div class="col-lg-8 titrecat5"> Produit 1 </div>
                                           <div class="col-lg-8 titrecat7"> 50.00€</div>
                                    </div>
                                    </div>

                                                                        <div class="col-lg-3 backs ">
                                           <img src="/images/shen3.jpg" class="imgpro"/>
                                    <div class="col-lg-12">
                                           <div class="col-lg-8 titrecat5"> Produit 1 </div>
                                           <div class="col-lg-8 titrecat7"> 10.00€</div>
                                    </div>
                                    </div>


                                                                        <div class="col-lg-3 backs ">
                                           <img src="/images/shen3.jpg" class="imgpro"/>
                                    <div class="col-lg-12">
                                           <div class="col-lg-8 titrecat5"> Produit 1 </div>
                                           <div class="col-lg-8 titrecat7"> 80.00€</div>
                                    </div>
                                    </div>



                                </div>



                                </div>
                            </div>
                    </div>

            </div>   
