/* NAVBAR */

#image img {
    display: block; 
    margin-left: 43%;
}

.nav {
    text-decoration: none;
    color: #eeeeee;
}

.nav:hover {
    color: #232323;

}


.nav:active {
    text-shadow: 0 2px 5px;

}


.nav-right:active {
    text-shadow: 0 2px 5px;

}

.normal {
    display: inline;
}

.ul {
    display: block; 
    text-decoration: none;
}

.li {
    text-decoration: none;
}


.select {
    display: none;

}


#navbar1 
{
    background-color: #004761;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    z-index: 2;
}




#navbar1 li.current  
{
    padding-top: 25px;
    padding-bottom: 70px;
    text-align: center;   
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);

}




/* FIN NAVBAR */

body
{
    background-image: url(../source/nuage.jpg);
	background-repeat : no-repeat;
    background-size : 100%;
	background-attachment : fixed;    
    margin: 0;
    height: 100%;
    width: 100%;
}


form label{
    border: 1px solid blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#table1 {
    
    border-radius: 5px 10px 10px 5px;
    margin-top: 25%;
    margin-left: 40%;
    background-color: Highlight;
}




