html,body
{
    margin: 0;  
    height: 100%;    
    width: 100%; 
      font-family: 'Titillium Web', sans-serif;

}

.page { width:100%; height:100%; text-align:center; display:table;}


/* NAVBAR */

#image img {
    display: block; 
    margin-left: 43%;
}

.nav {
    text-decoration: none;
    color: #eeeeee;
}

.nav:hover {
    color: #232323;

}


.nav:active {
    text-shadow: 0 2px 5px;

}


.nav-right:active {
    text-shadow: 0 2px 5px;

}

.normal {
    display: inline;
}

.ul {
    display: block; 
    text-decoration: none;
}

.li {
    text-decoration: none;
}


.select {
    display: none;

}


#navbar1 
{
    background-color: #000C1F;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    z-index: 2;
    position:fixed;
}




#navbar1 li.current  
{
    padding-top: 25px;
    padding-bottom: 70px;
    text-align: center;   
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    font-family: 'Titillium Web', sans-serif;

}




/* FIN NAVBAR */

.carousel{
    height: 50%;
    overflow: hidden;
    background-color: #002736;
}

.carousel img{
    margin-left: 13%;
    height: 700px;
}

/* FIN CARROUSEL */ 

/* SEARCH-BAR */

#searchbar{
    position:relative; 
    height:auto;
    margin-top: 10px;
}

.formulaire {
    display:inline-block;
}
.formulaire .champ       {
    width:600px; height:30px;
}
.formulaire .bouton       { 
    background-image: url(images/searchbar_button.png);background-repeat: no-repeat;width: 35px;height: 30px;padding: 0; 
}

/* FIN SEARCH-BAR

/* MENU */ 

#menu {

    z-index: 1;
}

#img_gauche img{

    width: 50%;
    left: 0;
    top: 0;
    z-index: 0;

}

.set {

    margin-top: 50px;
    background-color: #;
    height :800px;
    width : 100%;
}

.back {

    margin :30px;
    padding:30px;
    height :300px;
    width :500px;
    background-color: #000;
    border-radius: 5px 10px 50px 5px;
    background-image:url(../img/shen4.jpg);
    border: 5px solid #D5D5D5;
    font-family: 'Titillium Web', sans-serif;
    font-size : 22px;
    color :#fff;
}

.titrecat {

    border-radius: 10px 10px 10px 10px;
    margin-top :275px;
    background-color: #000826;
    padding-left:5px;
}
.titrecat2 {

    border-radius: 10px 10px 10px 5px;
    margin-top :275px;
    background-color: #860101;
    padding-left:5px;

}
.back2 {

    margin :30px;
    padding:30px;
    height :300px;
    width :500px;
    background-color: #000;
    border-radius: 5px 10px 50px 5px;
    background-image:url(../img/shen3.jpg);
    font-family: 'Titillium Web', sans-serif;
    font-size : 22px;
    color :#fff;
    border: 5px solid #D5D5D5;


}


.back3 {

    margin :30px;
    padding:30px;
    height :300px;
    width :1050px;
    background-color: #000;
    border-radius: 5px 10px 50px 5px;
    background-image:url(../img/shen2.jpg);
    border: 5px solid #D5D5D5;



}

.recherche  {

    font-family: 'Titillium Web', sans-serif;
    background-color: #000C1F;
    height :60px;
    width : 101.8%;
    margin-bottom :30px;
    margin-top:-10px;
    color :#fff;

}

.rechdans {

    margin-top :-10px;
}

.footer {

    width :100%;
    height : 200px;
    background-color: #000C1F;

}

.titrecat3 {

    color :#2D2D2D;
    font-size: 35px;
    padding-left : 140px;

}

.titrecat4 {

    color :#2D2D2D;
    font-size: 15px;
    padding-left : 140px;
    
}

#popover {
  position: absolute;
  top: 30px;
  left: 11px;
  padding: 7px 7px 7px 1px;
  border: 1px solid rgba(26,53,71,.12);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(26,53,71,.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(.8) translateY(-30%);
  transform: scale(.8) translateY(-30%);
  transition: .4s cubic-bezier(.3, 0, 0, 1.3);
}

#popover.visible {
    margin-top:10px;
  opacity: 1;
  color : #5892EA;
  background-color: #000;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none;
}

#popover::before {
  content: "";
  position: absolute;
  top: -7px;
  left: calc(50% - 7px);
  width: 13px;
  height: 7px;
  background: url(popover-arrow.svg);
}

#popover li {
  list-style: none;
  text-align: left;
}

.popover-header {
  padding: 8px 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.popover-title {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.example-popovers {
  padding: 30px 0;
}

.acenter {
  text-align: center;
  margin: 30px 0;
}